
:root {
  --background: #57a732e8;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  padding: 20px;
  
}

#container {
  display: grid;
  justify-items: center;
}

@media (min-width: 600px) {
  #container {
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 30px;
  }
}
#inputs {
  width: 100%;
  max-width: 400px;
}
input, select {
 height: 30px;
 font-size: 1rem;
}
label, input, select, textarea {
  display: block;
  width: 100%;
  margin-bottom:10px ;
}

textarea {
  resize: none;
  height: 60px;
}

label {
  text-transform: uppercase;
  margin-bottom: 3px;
}

#mood {
  width: 250px;
  padding: 20px;
  text-align: center;
}
#mood h2 {
  margin: 0 0 20px 0;
  font-size: 1.75em;
}
#mood p {
  margin:20px 0 0 0;
  font-size: .9em;
}
.calm {
  background: #CFB590;
  color: #49281F;
  border: 3px solid #758918;
  font-family: 'Gwendolyn';
  font-size: 1.4rem;
}

.happy {
  background: #CFB590;
  color: #49281F;
  border: 3px solid #758918;
  font-family: 'Gwendolyn';
  font-size: 1.0rem;
}
.vibrant {
  background: #CFB590;
  color: #49281F;
  border: 3px solid #758918;
  font-family: 'Gwendolyn';
  font-size: 0.9rem;
}
.midnight {
  background: #CFB590;
  color: #49281F;
  border: 3px solid #758918;
  font-family: 'Gwendolyn';
  font-size: 0.9rem;
}