
:root {
  --background: #246b03e8;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  padding: 20px;
  
}

#container {
  display: grid;
  justify-items: center;
}

img {
max-width: 100%;
height: auto;
}

@media (min-width: 260px) {
  #container {
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 30px;
  }
}
#inputs {
  width: 100%;
  max-width: 400px;
}
input, select {
 height: 40px;
 font-size: 1rem;
}
label, input, select, textarea {
  display: block;
  width: 100%;
  margin-bottom:10px ;
}

textarea {
  resize: none;
  height: 60px;
}

label {
  text-transform: uppercase;
  margin-bottom: 3px;
}

#mood {
  width: 250px;
  padding: 20px;
  text-align: center;
}

#mood h2 {
  margin: 0 0 20px 0;
  font-size: 1.75em;
}
#mood p {
  margin:20px 0 0 0;
  font-size: .9em;
}
.calm {
  background: #9ad5ec;
  color: #1e5018;
  border: 3px solid #e2ecb5;
  font-family: 'Arial';
  font-size: 1.4rem;
}

.happy {
  background: #f3f734;
  color: #2e2826;
  border: 3px solid #58ca3b;
  font-family: 'fantasy';
  font-size: 1.0rem;
}
.vibrant {
  background: #e72ba9;
  color: #58156d;
  border: 3px solid #f5f23e;
  font-family: 'serif';
  font-size: 0.9rem;
}
.midnight {
  background: #111a70;
  color: #e5ee88;
  border: 3px solid #f3f04d;
  font-family: 'lato';
  font-size: 0.9rem;
}